In [9]:
import pandas as pd
import os

In [2]:
df= pd.read_csv('stats.csv')
df

,race,height,weight,speed,strength,dexterity,constitution,intelligence,wisdom,charisma
0,dragonborn,71,195,30,14,15,12,7,13,16
1,dragonborn,75,193,30,11,11,11,13,13,17
2,dragonborn,73,252,30,14,16,11,13,10,18
3,dragonborn,75,256,30,8,19,7,10,13,16
4,dragonborn,71,205,30,8,17,14,14,10,9
...,...,...,...,...,...,...,...,...,...,...
9995,tiefling,66,146,30,13,18,17,13,15,13
9996,tiefling,69,134,30,8,14,13,6,14,20
9997,tiefling,69,194,30,4,5,16,12,12,15
9998,tiefling,70,214,30,12,16,12,15,9,16
9999,tiefling,60,125,30,16,17,15,12,13,13

In [3]:
df.isna().sum()

race            0
height          0
weight          0
speed           0
strength        0
dexterity       0
constitution    0
intelligence    0
wisdom          0
charisma        0
dtype: int64

In [10]:
def get_dnd():
    
    '''
    This function is to get the wine dataset from a local csv file that is already combined from the 2 csvs that were 
    downloaded from data.world if not combine the 2 csvs and make return a df to our working notebook to be able to
    use the data and perform various tasks using the data
    ''' 
    
    if os.path.isfile('stats.csv'):
        
        return pd.read_csv('stats.csv')
    
    else:
        
        df = pd.read_csv("stats.csv")
    
        return df  
df= get_dnd()

In [11]:
df

,race,height,weight,speed,strength,dexterity,constitution,intelligence,wisdom,charisma
0,dragonborn,71,195,30,14,15,12,7,13,16
1,dragonborn,75,193,30,11,11,11,13,13,17
2,dragonborn,73,252,30,14,16,11,13,10,18
3,dragonborn,75,256,30,8,19,7,10,13,16
4,dragonborn,71,205,30,8,17,14,14,10,9
...,...,...,...,...,...,...,...,...,...,...
9995,tiefling,66,146,30,13,18,17,13,15,13
9996,tiefling,69,134,30,8,14,13,6,14,20
9997,tiefling,69,194,30,4,5,16,12,12,15
9998,tiefling,70,214,30,12,16,12,15,9,16
9999,tiefling,60,125,30,16,17,15,12,13,13

In [14]:
df.dtypes

race            object
height           int64
weight           int64
speed            int64
strength         int64
dexterity        int64
constitution     int64
intelligence     int64
wisdom           int64
charisma         int64
dtype: object